* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Pacifico', cursive;
}

.row .border {
    background: rgb(255,228,67);
    background: linear-gradient(90deg, rgba(255,228,67,1) 0%, rgba(0,0,0,1) 15%, rgba(0,0,0,1) 85%, rgba(255,228,67,1) 100%);
}